<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TestApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>651F49DFA3738078B1997706F9DA0B0019D4291D</string>
				<key>dateExpires</key>
				<string>3/3/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XYA85FESD6.com.lorenzoferrante.XMission</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XYA85FESD6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>X-Mission.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8fc5bdea-6b90-4012-a1fb-23644c752b74</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XYA85FESD6</string>
				<key>name</key>
				<string>Lorenzo Ferrante</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
